.events-page {
  padding: 2rem 4%;
}

.events-page__title {
  color: #fe7743;
  margin-bottom: 1rem;
  text-align: center;
}

.events-grid {
  display: flex;
  gap: 20px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}